{% extends 'base.html.twig' %}

{% block title %}
Web Best Practices | {{ category|capitalize }}
{% endblock %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <header class="intro-header" style="background-image: url('{{ asset('images/category/'~category~'-banner.jpg') }}')">
                <div class="container">
                    <div class="page-heading">
                        <h1>{{ categoryHeading }}</h1>
                        <hr class="small">
                        <p class="subheading">{{ categorySubheading }}</p>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for article in articles %}
                {% if article.category == category %}
                <div class="post-preview">
                    <a href="{{ path('_article', {'category': article.category, 'article_slug': article.slug }) }}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                    </a>
                    <p class="post-subtitle">
                        {{ article.summary }}
                    </p>
                    <p class="post-meta">Posted on {{ article.datePosted|date("F jS \\a\\t g:ia") }}</p>
                </div>
                <hr>
                {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
