{% extends 'base.html.twig' %}

{% block title %}
Web Best Practices | Complete SDLC Done Smartly
{% endblock %}


{% block mainbody %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Web Best Practices</h1>
            <p>Tried and tested paradigms for creating the ideal website</p>
            <a href="#" class="btn btn-primary">Subscribe</a>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ path('_category', {'category': 'development'}) }}" class="thumbnail home-thumb">
                    <img src="{{ asset('images/homepage/software-development.png') }}" alt="Programming and Development">
                </a>
                <h3>Development</h3>
                <p>This section covers the technical side to developing a website.  The proper way to set up a Linux server, how to manage your code correctly and using frameworks to build websites in a structured and efficient manner.</p>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('_category', {'category': 'online-marketing'}) }}" class="thumbnail home-thumb">
                    <img src="{{ asset('images/homepage/increase-ranking.png') }}" alt="Increase Ranking">
                </a>
                <h3>Online marketing</h3>
                <p>Marketing a website is a very broad and rapidly changing subject.  Focusing on core concepts to improve a website's search ranking using sound SEO practices will be the main focus of this section.</p>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('_category', {'category': 'management'}) }}" class="thumbnail home-thumb">
                    <img src="{{ asset('images/homepage/project-management.png') }}" alt="Project Management future planning">
                </a>
                <h3>Project Management</h3>
                <p>The importance of maximising resources, ensuring quality and establishing exactly what needs to be done is vital for all projects. The combination of Scrum and PRINCE2 methodologies will be explained.</p>
            </div>
        </div>
    </div>


{% endblock %}
