<!doctype html>

<html lang="en">
<head>
</head>

<body>
{% if app.session.flashBag.has('notice') %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endif %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.category) }}
    {{ form_row(form.mainImage) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.content) }}
    {{ tinymce_init() }}

    <button type="submit">Create new post</button>
    {{ form_end(form) }}
</body>
</html>